@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 0.9375rem; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 0.8125rem; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal; }

ul {
  list-style: none; }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden; }

.section {
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  overflow: hidden; }

.container {
  width: 95%;
  max-width: 940px;
  min-height: 40.625rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  @media screen and (max-width: 768px) {
    .container {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .container {
      width: 100%; } }

.btn__order {
  background-color: #e45028;
  border-radius: 0.3125rem;
  border: none;
  text-align: center;
  padding: 0.625rem 0.9375rem;
  text-decoration: none;
  color: #fff;
  font-family: 'ubuntumedium';
  font-size: 0.8125rem;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: inline-block; }
  .btn__order:hover {
    background-color: #c13c18;
    cursor: pointer; }
  @media screen and (max-width: 768px) {
    .btn__order {
      margin-left: auto; } }
  @media screen and (max-width: 480px) {
    .btn__order {
      margin-left: auto; } }
  @media screen and (max-width: 768px) {
    .btn__order-burgers, .btn__order-form {
      margin: 0; } }
  @media screen and (max-width: 480px) {
    .btn__order-burgers, .btn__order-form {
      margin: 0; } }

.hamb-menu {
  vertical-align: middle;
  position: relative;
  height: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.875rem;
  display: none; }
  .hamb-menu__list {
    width: 100%;
    height: 100%;
    background-color: rgba(47, 50, 52, 0.99);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding-top: 12.5rem;
    display: none; }
    @media screen and (max-width: 480px) {
      .hamb-menu__list {
        padding-top: 5rem; } }
    .hamb-menu__list_active {
      display: block; }
  .hamb-menu__item {
    font-size: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .hamb-menu__item:after {
      content: "\2022";
      margin: 10px 0;
      color: #fff; }
    .hamb-menu__item:last-of-type:after {
      display: none; }
    @media screen and (max-width: 480px) {
      .hamb-menu__item {
        font-size: 1.5rem; } }
  .hamb-menu__link {
    color: #fff;
    text-decoration: none; }
  .hamb-menu__close {
    width: 1.875rem;
    height: 1.875rem;
    z-index: 2;
    position: absolute;
    top: 2.9375rem;
    right: 5%; }
    .hamb-menu__close-bars:before {
      content: "";
      position: absolute;
      top: 5%;
      right: 5%;
      width: 2.1875rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      -webkit-transform: rotate(45deg) translate(-50%, -50%);
              transform: rotate(45deg) translate(-50%, -50%);
      background: #fff; }
      @media screen and (max-width: 768px) {
        .hamb-menu__close-bars:before {
          top: 9%;
          right: -45%; } }
      @media screen and (max-width: 480px) {
        .hamb-menu__close-bars:before {
          width: 1.375rem;
          top: 55%;
          right: -25%; } }
    .hamb-menu__close-bars:after {
      content: "";
      position: absolute;
      top: 5%;
      right: 5%;
      width: 2.1875rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      -webkit-transform: rotate(-45deg) translate(-50%, -50%);
              transform: rotate(-45deg) translate(-50%, -50%);
      background: #fff; }
      @media screen and (max-width: 768px) {
        .hamb-menu__close-bars:after {
          top: -69%;
          right: -53%; } }
      @media screen and (max-width: 480px) {
        .hamb-menu__close-bars:after {
          width: 1.375rem;
          top: 3%;
          right: -34%; } }
  @media screen and (max-width: 768px) {
    .hamb-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.hamb-menu__bars, .hamb-menu__bars:before, .hamb-menu__bars:after {
  background: #fff;
  width: 1.5rem;
  height: 0.3125rem;
  border-radius: 0.1875rem; }
.hamb-menu__bars:before, .hamb-menu__bars:after {
  content: "";
  display: block;
  position: absolute; }
.hamb-menu__bars:before {
  top: 0; }
.hamb-menu__bars:after {
  bottom: 0; }

.fixed-block {
  position: fixed;
  width: 100%; }

.btn__clear {
  width: 6.125rem;
  height: 2.1875rem;
  border: none;
  background: transparent;
  color: #fff;
  font-family: 'ubuntulight';
  font-size: 0.875rem;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .btn__clear:hover {
    color: #e45028;
    cursor: pointer; }
  @media screen and (max-width: 768px) {
    .btn__clear {
      font-size: 1.125rem; } }
  @media screen and (max-width: 480px) {
    .btn__clear {
      font-size: 1.125rem;
      margin-left: 0.9375rem; } }

.switcher {
  position: fixed;
  top: 5.9375rem;
  right: 3.4375rem; }
  .switcher__list {
    list-style: none; }
  .switcher__item {
    width: 0.375rem;
    height: 0.375rem;
    background-color: #fff;
    border-radius: 50%;
    margin-bottom: 0.9375rem;
    position: relative; }

.switcher__link_active {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: -0.3125rem;
  left: -0.3125rem;
  border: 0.0625rem solid #fff;
  border-radius: 50%; }

.section-first {
  background: url("../img/bg.png") center center no-repeat;
  background-size: cover; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .header__logo {
      z-index: 3; } }
  @media screen and (max-width: 768px) {
    .header {
      width: 90%; } }
  @media screen and (max-width: 480px) {
    .header {
      width: 90%; } }

.nav {
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    .nav {
      display: none; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none; }

.nav__item {
  position: relative; }
  .nav__item:nth-of-type(-n+5):after {
    content: "";
    position: absolute;
    right: 0.9375rem;
    bottom: 0.375rem;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background-color: #fff; }

.nav__link {
  font-size: 0.8125rem;
  font-family: 'ubuntumedium', Arial, sans-serif;
  text-decoration: none;
  padding-right: 2.375rem;
  color: #fff;
  text-transform: uppercase; }

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40.625rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .main-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  @media screen and (max-width: 480px) {
    .main-content {
      margin-top: 1.25rem; } }
  .main-content__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    @media screen and (max-width: 768px) {
      .main-content__img {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%; } }
    @media screen and (max-width: 480px) {
      .main-content__img {
        text-align: center;
        margin-bottom: 1.25rem;
        -ms-flex-preferred-size: initial;
            flex-basis: initial; } }
    .main-content__img_full {
      width: 100%; }
      @media screen and (max-width: 480px) {
        .main-content__img_full {
          width: 70%; } }
  .main-content__text {
    margin-top: 5.625rem;
    margin-left: 0.625rem;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    @media screen and (max-width: 768px) {
      .main-content__text {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        text-align: center;
        margin-top: 1.25rem;
        margin-left: 0; } }
    @media screen and (max-width: 480px) {
      .main-content__text {
        margin-top: 0; } }
  .main-content__text_one, .burgers__title, .burgers__price, .team__title, .menu__title, .menu-title, .section__title {
    font-family: 'gagalinregular';
    color: #f9b43b;
    font-size: 4.5rem;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .main-content__text_one, .burgers__title, .burgers__price, .team__title, .menu__title, .menu-title, .section__title {
        font-size: 3.75rem; } }
  .main-content__text_two {
    font-family: 'lifehackmedium';
    color: #fff;
    font-size: 4.5rem; }
    @media screen and (max-width: 768px) {
      .main-content__text_two {
        font-size: 4.0625rem;
        padding: 0 4.375rem; } }
    @media screen and (max-width: 480px) {
      .main-content__text_two {
        font-size: 3.125rem; } }

.page-down, .arrow {
  background: url(../icons/arrow-scroll.svg) center center no-repeat;
  width: 3.25rem;
  height: 3.25rem;
  position: absolute;
  bottom: -4.375rem;
  border: none;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .page-down, .arrow {
      bottom: -15rem; } }
  @media screen and (max-width: 480px) {
    .page-down, .arrow {
      bottom: 5rem; } }

.section-best {
  background: url(../img/we-best.png) center center no-repeat;
  background-size: cover; }
  .section-best .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.title__best {
  font-family: 'gagalinregular';
  font-size: 4.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5.125rem;
  margin-bottom: 8.125rem; }
  @media screen and (max-width: 768px) {
    .title__best {
      margin-top: 1.25rem;
      margin-bottom: 3.125rem; } }
  @media screen and (max-width: 480px) {
    .title__best {
      font-size: 2.75rem;
      margin-top: 1.875rem;
      margin-bottom: 1.25rem; } }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.best__descrip {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  @media screen and (max-width: 480px) {
    .best__descrip {
      width: 90%;
      margin-left: 5rem;
      margin-bottom: 1.25rem; } }
  .best__descrip:before {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    display: block; }
    @media screen and (max-width: 480px) {
      .best__descrip:before {
        left: -1.875rem; } }
  .best__descrip_meat:before {
    content: url(../icons/meat.svg); }
  .best__descrip_hand:before {
    content: url(../icons/hand.svg); }
  .best__descrip_natural:before {
    content: url(../icons/natural.svg); }
  .best__descrip-title {
    font-family: 'lifehackmedium';
    font-size: 1.5rem;
    margin-bottom: 2.625rem;
    margin-top: 8.125rem;
    width: 80%;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .best__descrip-title {
        font-size: 1.625rem;
        margin-top: 6.25rem;
        margin-bottom: 1.25rem; } }
    @media screen and (max-width: 480px) {
      .best__descrip-title {
        margin-top: 1.875rem;
        margin-bottom: 0.625rem;
        text-align: left;
        font-size: 1.375rem; } }
  .best__descrip-text {
    font-family: 'ubuntulight';
    font-size: 0.875rem;
    line-height: 1.375rem;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .best__descrip-text {
        font-size: 0.875rem;
        line-height: 1.5rem; } }
    @media screen and (max-width: 480px) {
      .best__descrip-text {
        width: 80%;
        text-align: left;
        font-size: 1rem; } }

.section-burgers {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(50%, #eb8c38), to(#f9b43b));
  background-image: linear-gradient(#f9b43b 0%, #eb8c38 50%, #f9b43b 100%); }

.burgers__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5.625rem; }
  @media screen and (max-width: 480px) {
    .burgers__container {
      margin-top: 3.125rem; } }

.arrow-block {
  position: absolute;
  min-width: 5rem; }
  .arrow-block_prev {
    left: 0.625rem; }
  .arrow-block_next {
    right: -4.375rem; }

@media screen and (max-width: 768px) {
  .arrow {
    top: 50%; } }
.arrow-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: -4.375rem; }
  @media screen and (max-width: 480px) {
    .arrow-prev {
      left: 0.625rem; } }
.arrow-next {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: -1.875rem; }
  @media screen and (max-width: 480px) {
    .arrow-next {
      right: 1.25rem; } }

.burgers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .burgers__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 5rem; } }
  @media screen and (max-width: 480px) {
    .burgers__content {
      margin-top: 1.25rem; } }

.burgers__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.875rem;
  position: relative; }
  .burgers__col:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .burgers__col {
      margin: 0;
      padding: 0 1.875rem; } }

.burgers__img {
  width: 100%;
  padding-top: 4.375rem; }
  @media screen and (max-width: 768px) {
    .burgers__img {
      padding: 0 7.5rem; } }
  @media screen and (max-width: 480px) {
    .burgers__img {
      padding: 0 1.875rem; } }

.burgers__title {
  color: #fff;
  width: 60%;
  text-align: left;
  line-height: 4.0625rem; }
  @media screen and (max-width: 768px) {
    .burgers__title {
      width: 90%;
      text-align: center;
      padding-left: 6.25rem; } }
  @media screen and (max-width: 480px) {
    .burgers__title {
      padding-left: 3.125rem; } }

.burgers__descrip {
  color: #fff;
  line-height: 1.625rem;
  width: 80%;
  margin-top: 3.125rem;
  margin-bottom: 2.5rem; }
  @media screen and (max-width: 768px) {
    .burgers__descrip {
      width: 95%;
      text-align: center;
      font-size: 1.25rem;
      line-height: 2rem; } }
  @media screen and (max-width: 480px) {
    .burgers__descrip {
      margin-top: 0.625rem;
      margin-bottom: 0.625rem;
      width: 100%;
      font-size: 0.875rem;
      line-height: 1.1875rem; } }

.burgers__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .burgers__order {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.burgers__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: #e45028;
  margin-right: 1.875rem; }
  .burgers__price-text {
    font-size: 1.5rem; }

.burgers__compos {
  position: absolute;
  top: 0;
  background-color: #e45028;
  border-radius: 0.3125rem;
  width: 5.625rem;
  height: 5.8125rem;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .burgers__compos {
      top: -5.625rem;
      left: 10rem; } }
  @media screen and (max-width: 480px) {
    .burgers__compos {
      top: -0.625rem;
      left: 0.625rem; } }
  .burgers__compos-img {
    width: 3.75rem;
    height: 3.9375rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 5%; }
  .burgers__compos-text {
    text-align: center;
    color: #fff;
    font-family: 'gagalinregular';
    font-size: 0.875rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 75%; }

.compos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 16.875rem;
  height: 20.9375rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 0.3125rem;
  position: absolute;
  left: 5.625rem;
  padding-top: 0.625rem;
  display: none; }

.burgers__compos:hover .compos__list {
  display: block; }

.compos__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9375rem; }

.compos-item-svg {
  width: 2.5rem;
  height: 2.5rem; }

.burgers__energy {
  position: absolute;
  left: 2.8125rem; }
  @media screen and (max-width: 768px) {
    .burgers__energy {
      top: -5.625rem;
      right: -15.625rem; } }
  @media screen and (max-width: 480px) {
    .burgers__energy {
      top: -0.625rem;
      right: -17.5rem; } }
  .burgers__energy-img {
    width: 3.75rem;
    height: 3.9375rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .burgers__energy-number {
    text-align: center;
    color: #fff;
    font-family: 'gagalinregular';
    font-size: 1.25rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 1.875rem; }
  .burgers__energy-text {
    text-align: center;
    color: #fff;
    font-family: 'gagalinregular';
    font-size: 1.25rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 4.0625rem; }

.section-team {
  background: url(../img/team.png) center center no-repeat;
  background-size: cover;
  position: relative; }

.team {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 55%;
  min-height: 100%;
  background-color: rgba(49, 49, 49, 0.90323); }
  @media screen and (max-width: 768px) {
    .team {
      width: 100%; } }
  .team__mmbrs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 5.625rem; }
    @media screen and (max-width: 768px) {
      .team__mmbrs {
        margin-top: 9.375rem; } }
    @media screen and (max-width: 480px) {
      .team__mmbrs {
        margin-top: 0rem; } }
  .team__title {
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .team__title {
        margin-bottom: 5.625rem; } }
    @media screen and (max-width: 480px) {
      .team__title {
        margin-top: 2.5rem;
        margin-bottom: 3.75rem; } }

.mmbr__item {
  margin-bottom: 2.8125rem;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .mmbr__item {
      margin-bottom: 1.875rem; } }
  .mmbr__item_active .mmbr__name {
    color: #f9b43b; }
  .mmbr__item_active .mmbr__desc {
    height: 6.875rem; }
    @media screen and (max-width: 768px) {
      .mmbr__item_active .mmbr__desc {
        height: 12.5rem; } }
  .mmbr__item_active .triangle {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg); }

.triangle {
  width: 0;
  height: 0;
  border: 0.25rem solid transparent;
  border-top: 0.25rem solid #f9b43b;
  margin-top: -0.25rem;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 0.625rem; }

.mmbr__name {
  font-family: 'gagalinregular';
  font-size: 0.875rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .mmbr__name {
      text-align: center;
      font-size: 1.75rem; } }

.mmbr__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 768px) {
    .mmbr__title {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.mmbr__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fff;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.8s;
  transition: 0.8s; }
  @media screen and (max-width: 768px) {
    .mmbr__desc {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.mmbr__img {
  border-radius: 50%;
  width: 6.5rem;
  height: 6.375rem; }
  @media screen and (max-width: 768px) {
    .mmbr__img {
      display: block;
      margin: 10px auto; } }

.mmbr__text {
  width: 16.25rem;
  margin-left: 2.5rem; }
  @media screen and (max-width: 768px) {
    .mmbr__text {
      font-size: 1.25rem;
      text-align: center;
      width: 80%;
      margin: 0 auto; } }
  @media screen and (max-width: 480px) {
    .mmbr__text {
      font-size: 1.375rem; } }

.mmbr__job {
  font-weight: 700;
  margin-bottom: 0.875rem; }

.mmbr__desc-text {
  line-height: 1.375rem; }
  @media screen and (max-width: 480px) {
    .mmbr__desc-text {
      font-size: 1rem; } }

.section-menu {
  background: url(../img/menu.png) center center no-repeat;
  background-size: cover;
  position: relative; }

.menu__title {
  color: #fff;
  position: absolute;
  top: 7.25rem;
  left: 6rem; }
  @media screen and (max-width: 480px) {
    .menu__title {
      font-size: 2.75rem;
      top: 3.75rem;
      left: 1.25rem; } }

.menu__accordion {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer; }
  .menu__item_active .menu-title {
    color: #f9b43b; }
  .menu__item_active .menu__item-text {
    width: 33.8125rem;
    overflow: visible;
    padding: 4rem 2.25rem; }
    @media screen and (max-width: 768px) {
      .menu__item_active .menu__item-text {
        width: 35.625rem; } }
    @media screen and (max-width: 480px) {
      .menu__item_active .menu__item-text {
        width: 9.375rem;
        padding: 0.625rem 0.625rem; } }
  .menu__item-title {
    height: 100%;
    width: 5.25rem;
    position: relative; }
    .menu__item-title_meat {
      background: url(../img/menu/meat.jpg) center center no-repeat;
      background-size: cover; }
    .menu__item-title_veg {
      background: url(../img/menu/veg.jpg) center center no-repeat;
      background-size: cover; }
    .menu__item-title_diet {
      background: url(../img/menu/diet.jpg) center center no-repeat;
      background-size: cover; }
  .menu__item-text {
    width: 0;
    overflow: hidden;
    background-color: rgba(49, 49, 49, 0.90323);
    font-family: 'ubuntulight';
    font-size: 14px;
    color: #fff;
    text-align: left;
    line-height: 1.75rem;
    -webkit-transition: 0.6s;
    transition: 0.6s; }

.menu-title {
  color: #fff;
  font-size: 2.5rem;
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 50%;
  left: -5.3125rem;
  width: 16.75rem; }

.section-review {
  background-color: #b9b9b9; }

.reviewers {
  width: 100%;
  height: 100%; }

.reviewers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviewers__item {
  width: 25%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  -webkit-transition: 0.6s;
  transition: 0.6s; }
  @media screen and (max-width: 768px) {
    .reviewers__item {
      width: 50%;
      height: 25vh; } }

.reviewers__img {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.reviwers__info {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 6% 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0; }
  @media screen and (max-width: 768px) {
    .reviwers__info {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media screen and (max-width: 480px) {
    .reviwers__info {
      padding: 1.875rem 0; } }
  .reviwers__info-name {
    font-family: 'gagalinregular';
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem; }
    @media screen and (max-width: 768px) {
      .reviwers__info-name {
        text-align: center;
        margin-bottom: 0.625rem;
        font-size: 1.375rem; } }
    @media screen and (max-width: 480px) {
      .reviwers__info-name {
        font-size: 1.625rem; } }
  .reviwers__info-text {
    font-family: 'ubunturegular';
    font-size: 0.875rem;
    line-height: 1.75rem;
    margin-bottom: 0.625rem; }
    @media screen and (max-width: 768px) {
      .reviwers__info-text {
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.5rem; } }
    @media screen and (max-width: 480px) {
      .reviwers__info-text {
        display: none; } }
  .reviwers__info-link {
    border: none;
    background-color: #2f3234;
    border-radius: 0.375rem;
    color: #fff;
    font-family: 'ubunturegular';
    font-size: 0.8125rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.625rem 0.75rem;
    -webkit-transition: 0.4s;
    transition: 0.4s; }
  .reviwers__info-link:hover {
    background-color: #171819; }

.reviewers__item:hover .reviwers__info {
  opacity: 1; }

.section-form {
  background: url(../img/form.jpg) center center no-repeat;
  background-size: cover; }

.section__title {
  margin-top: 5.875rem;
  margin-bottom: 5rem; }
  @media screen and (max-width: 480px) {
    .section__title {
      margin-top: 1.875rem;
      margin-bottom: 1.875rem; } }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
.form__col {
  width: 48%; }
  @media screen and (max-width: 768px) {
    .form__col {
      width: 80%; } }
  @media screen and (max-width: 480px) {
    .form__col {
      width: 95%; } }
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
.form__label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 20px; }
  .form__label:last-child {
    margin-right: 0; }
  .form__label_radio {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__label_checkbox {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
.form__title {
  color: #fff;
  margin-bottom: 0.375rem; }
  @media screen and (max-width: 768px) {
    .form__title {
      font-size: 1.375rem; } }
  @media screen and (max-width: 480px) {
    .form__title {
      font-size: 1.0625rem; } }
.form__input {
  width: 100%;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.375rem; }
.form__area {
  width: 100%;
  height: 6.25rem;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.5rem; }
.form__radio {
  position: absolute;
  left: -6249.9375rem;
  top: 0; }
  .form__radio:checked + .form__radio_circle:after {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #e45028; }
  .form__radio_circle {
    position: relative;
    display: inline-block;
    width: 1.125rem;
    height: 1.125rem;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 0.625rem; }
    .form__radio_circle:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      width: 0;
      height: 0;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
.form__check {
  position: absolute;
  left: -6249.9375rem;
  top: 0; }
  .form__check_square {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: #ffF;
    position: relative;
    margin-right: 0.625rem; }
  .form__check:checked + .form__check_square:after {
    content: "";
    position: absolute;
    width: 0.6875rem;
    height: 0.5625rem;
    background: url(../icons/checkmark.png);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    @media screen and (max-width: 480px) {
      .form__check:checked + .form__check_square:after {
        top: 56%;
        left: 46%; } }

@media screen and (max-width: 768px) {
  .payment__row {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem; } }
@media screen and (max-width: 480px) {
  .payment__row {
    margin: 0.625rem 0.125rem 0.625rem; } }

@media screen and (max-width: 480px) {
  .disturb {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.625rem; } }

.section-map {
  background: url("../img/map.jpg") center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.75rem;
  background: url(../img/footer.jpg); }
  @media screen and (max-width: 768px) {
    .footer {
      min-height: 5rem; } }
  @media screen and (max-width: 480px) {
    .footer {
      min-height: 8.125rem; } }
  .footer__item {
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 480px) {
      .footer__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

.contact {
  width: 50%;
  padding-left: 1.875rem; }
  @media screen and (max-width: 768px) {
    .contact {
      font-size: 1.25rem; } }
  @media screen and (max-width: 480px) {
    .contact {
      text-align: center;
      font-size: 1.125rem;
      width: 95%;
      margin-top: 0.9375rem; } }
  .contact__text {
    color: #fff;
    line-height: 1.5rem;
    padding-top: 0.5rem; }
  .contact__number {
    text-align: left;
    color: #e45028;
    font-weight: 700; }
    @media screen and (max-width: 768px) {
      .contact__number {
        margin-top: 0.625rem; } }
    @media screen and (max-width: 480px) {
      .contact__number {
        margin-top: 0.625rem;
        text-align: center; } }
    .contact__number-svg {
      width: 0.875rem;
      height: 0.875rem; }
    .contact__number-link {
      text-align: left;
      color: #e45028;
      font-weight: 700;
      text-decoration: none; }

.socials {
  height: 100%; }
  .socials__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.25rem; }
  .socials__item {
    margin-left: 2.5rem; }
  .socials__link {
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem; }
    .socials__link:hover .socials__svg {
      fill: #fff; }
  .socials__svg {
    fill: rgba(255, 255, 255, 0.4);
    width: 1.25rem;
    height: 1.25rem;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

/*# sourceMappingURL=main.css.map */