.section-team{
	background: url(../img/team.png);
	background-size: cover;
	height: 100vh;	
	position: relative;
}

.team{
	position: absolute;
	top: 0;
	right: 0;
	min-width: 50%;
	min-height: 100%;
	background-color: rgba(49, 49, 49, 0.903226);
	

	  &__mmbrs{
	  	display: flex;
	  	align-items: center;
	  	flex-direction: column;
	  	margin-top: rem(90px);
	  }

	  &__title{
	  	@extend .main-content__text_one;
	  	margin-bottom: rem(20px);
	  }
}

.mmbr__item{
	margin-bottom: rem(45px);

       &_active .mmbr__name{
	  	color: $yellow;
	  }

	   &_active .mmbr__desc{
	  	height: 100%;
	  }

	  &_active .triangle{
	  	transform: rotateX(180deg);
	  }

	  
}
.triangle{
	width: 0;
    height: 0;
    border: rem(4px) solid transparent;
    border-top: rem(4px) solid #f9b43b;
    margin-top: rem(-4px);
    transform: translateY(50%);
    transition: 0.4s;
    margin-right: rem(10px);
}
.mmbr__name{
	font-family: 'gagalinregular';
	font-size: rem(14px);
	color: #fff;
}

.mmbr__title{
	display: flex;
	margin-bottom: rem(18px);
	align-items: center;
}

.mmbr__desc{
	display: flex;
	justify-content: space-around;
	color: #fff;
	height: 0;
	overflow: hidden;
}

.mmbr__img{
	border-radius: 50%;
	width: rem(104px);
	object-fit: cover;
	

}
.mmbr__text{
	width: rem(260px);
	margin-left: rem(40px);
}

.mmbr__job{
	font-weight: 700;
	margin-bottom: rem(14px);
}

.mmbr__desc-text{
	line-height: rem(22px);
}

