.section-team{
	background: url(../img/team.png) center center no-repeat;
	background-size: cover;
	
	position: relative;
}

.team{
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	min-height: 100%;
	background-color: rgba(49, 49, 49, 0.903226);

	    @include tablets{
	    	width: 100%;
	    }
	

	  &__mmbrs{
	  	display: flex;
	  	align-items: center;
	  	flex-direction: column;
	  	margin-top: rem(90px);

	  	@include tablets{
	  		margin-top: rem(150px);
	  	}

	  	@include mobile{
	  		margin-top: rem(0px);
	  	}
	  }

	  &__title{
	  	@extend .main-content__text_one;
	  	margin-bottom: rem(20px);

	  	@include tablets{
	  		margin-bottom: rem(90px);
	  	}

	  	@include mobile{
	  	margin-top: rem(40px);
	  	margin-bottom: rem(60px);
	  }
	  }


}

.mmbr__item{
	margin-bottom: rem(45px);

	@include mobile{
		margin-bottom: rem(30px);
	}

       &_active .mmbr__name{
	  	color: $yellow;
	  }

	   &_active .mmbr__desc{
	  	height: 100%;
	  }

	  &_active .triangle{
	  	transform: rotateX(180deg);
	  }

	  
}
.triangle{
	width: 0;
    height: 0;
    border: rem(4px) solid transparent;
    border-top: rem(4px) solid #f9b43b;
    margin-top: rem(-4px);
    transform: translateY(50%);
    transition: 0.4s;
    margin-right: rem(10px);
}
.mmbr__name{
	font-family: 'gagalinregular';
	font-size: rem(14px);
	color: #fff;

	  @include tablets{
	  	text-align: center;
	  	font-size: rem(28px);
	  }
}

.mmbr__title{
	display: flex;
	margin-bottom: rem(18px);
	align-items: center;

	  @include tablets {
	  	justify-content: center;
	  }
}

.mmbr__desc{
	display: flex;
	justify-content: space-around;
	color: #fff;
	height: 0;
	overflow: hidden;

	  @include tablets{
	  	flex-direction: column;
	  }
}

.mmbr__img{
	border-radius: 50%;
	width: rem(104px);
	object-fit: cover;
	  
	  @include tablets{
	  	display: block;
	  	margin: 10px auto;

	  }
	

}
.mmbr__text{
	width: rem(260px);
	margin-left: rem(40px);

	 @include tablets{
	 	font-size: rem(24px);
	 	text-align: center;
	 	width: 80%;
        margin: 0 auto;
	 }

	 @include mobile{
	 	font-size: rem(22px);
	 }
}

.mmbr__job{
	font-weight: 700;
	margin-bottom: rem(14px);
}

.mmbr__desc-text{
	line-height: rem(22px);

	 @include mobile{
	 	font-size: rem(18px);
	 }
}

