.section-first{
	background: url("../img/bg.png") center center no-repeat;
	background-size: cover;

}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
          &__logo{
          	 @include tablets{
	  	     width: 100%;
	  }
          }
	 
}   

.nav{
	margin-left: auto;

	@include tablets{
		display: none;
	}
}
.nav__list{
	display: flex;
	list-style: none;
}

 .nav__item{
	    	position: relative;

	    	&:nth-of-type(-n+5):after{
	   	content: "";
	   	position: absolute;
	    right: rem(15px);
	    bottom: rem(6px);
	   	width: rem(4px);
	   	height: rem(4px);
	   	border-radius: 50%;
	   	background-color: #fff;
	   }
}


.nav__link{
	font-size: rem(13px);
	font-family: 'ubuntumedium', Arial, sans-serif;
	text-decoration: none;
	padding-right: rem(38px);
	color: #fff;
	text-transform: uppercase;         
}

.main-content{
	display: flex;
	align-items: center;
	justify-content: center;
	height: rem(650px);
	position: relative;

	    @include tablets{
	    	flex-direction: column;
	    }

	     @include mobile{
	  	 	margin-top: rem(110px);	
	  	 }


	  &__img{
	  	flex-basis: 50%;
	  	margin-right: rem(20px);

	  	  @include tablets{
	  	  	flex-basis: 100%;
	  	  }

	  	  @include mobile{
	  	  	text-align: center;
	  	  	margin-bottom: rem(40px);
	  	  }

	  	  &_full{ 
	  	  	@include mobile{
	  	  	width: 70%;
	  	  }
	  	}
	  	 
	  }

	  &__text{
	  	margin-top: rem(90px);
	  	margin-left: rem(100px);
	  	flex-basis: 50%;


	  	 @include tablets{
	  	 	flex-basis: 100%;
	  	 	text-align: center;
	  	 	margin: 0;
	  	 }


	  }

	  &__text_one{
	  	font-family: 'gagalinregular';
	  	color: $yellow;
	  	font-size: rem(72px);
	  	text-align: center;
	  }

	  &__text_two{
	  	font-family: 'lifehackmedium';
	  	color: #fff;
	  	font-size: rem(72px);

	  	 @include tablets{
	  	 	font-size: rem(92px);
	  	 }

	  	 @include mobile{
	  	 	font-size: rem(72px);
	  	 }
	  }
}

.page-down{
	background: url(../icons/arrow-scroll.svg) center center no-repeat;
	width: rem(52px);
	height: rem(52px);
	position: absolute;
	bottom: rem(-70px);
	border: none;

	 @include mobile{
	 	bottom: rem(-120px);
	 }
}