.section-best{
    background: url(../img/we-best.png) center center no-repeat;
    background-size: cover;
    height: 100vh;	

      .content{
      	display: flex;
      	flex-direction: column;
      	align-items: center;

      }
}

.title__best{
	font-family: 'gagalinregular';
	font-size: rem(72px);
	align-items: center;
	margin-top: rem(82px);
	margin-bottom: rem(130px);
}

.best__descrips{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.best__descrip{
	width: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;

	  &:before{
	  	margin-bottom: rem(35px);
	  	position: absolute;
	  	  	top: rem(-50px);
            left: 50%;
	  	  	display: block;
	  	  }

	  	 &_meat:before{
	  	 	content: url(../icons/meat.svg);
	  	 }

	  	 &_hand:before{
	  	 	content: url(../icons/hand.svg);
	  	 }

	  	 &_natural:before{
	  	 	content: url(../icons/natural.svg);
	  	 }

	  	
	  

	  &-title{
	  	font-family: 'lifehackmedium';
	  	font-size: rem(24px);
	  	margin-bottom: rem(42px);
	  	margin-top: rem(80px);
	  	width: 80%;
	  	text-align: center;

	  }

	  &-text{
	  	font-family: 'ubuntulight';
	  	font-size: rem(14px);
	  	line-height: rem(24px);
	  	text-align: center;
	  }

}