.section-menu{
	background: url(../img/menu.png);
	background-size: cover;
	height: 100vh;	
	position: relative;
}

.menu__title{
	@extend .main-content__text_one;
	color: #fff;
}

.menu__accordeon{
	position: absolute;
	top: 0;
	right: 0;
	width: 70%;
	height: 100%;
	background-color: rgba(27, 27, 27, 0.61);
	display: flex;
	justify-content: flex-end;
	

}

.menu__item{
	width: 84px;
	overflow: hidden;
	
	
	&_meat{
		background: url(../img/menu/meat.jpg) center center no-repeat;
		background-size: cover;
	}

	&_veg{
		background: url(../img/menu/veg.jpg) center center no-repeat;
		background-size: cover;
	}

	&_diet{
		background: url(../img/menu/diet.jpg) center center no-repeat;
		background-size: cover;
	}

	&-text{
		width: 543px;
		background-color: rgba(49, 49, 49, 0.903226);
	}

}