.section-first{
	background: url("../img/bg.png") no-repeat;
	background-size: cover;
	height: 100vh;	
}

.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}   

.nav{
	margin-left: auto;
}
.nav__list{
	display: flex;
	list-style: none;
}

 .nav__item{
	    	position: relative;

	    	&:nth-of-type(-n+5):after{
	   	content: "";
	   	position: absolute;
	    right: rem(15px);
	    bottom: rem(6px);
	   	width: rem(4px);
	   	height: rem(4px);
	   	border-radius: 50%;
	   	background-color: #fff;
	   }
}


.nav__link{
	font-size: rem(13px);
	font-family: 'ubuntumedium', Arial, sans-serif;
	text-decoration: none;
	padding-right: rem(38px);
	color: #fff;
	text-transform: uppercase;         
}

.main-content{
	display: flex;
	align-items: center;
	justify-content: center;
	height: rem(650px);
	position: relative;


	  &__img{
	  	background: url(../img/drops.png) center center no-repeat;
	  	background-size: cover;
	  	width: rem(560px);
	  	height: rem(460px);
	  	flex-basis: 50%;
	  	margin-right: rem(20px);
	  }

	  &__text{
	  	margin-top: rem(90px);
	  	margin-left: rem(100px);
	  	flex-basis: 50%;
	  }

	  &__text_one{
	  	font-family: 'gagalinregular';
	  	color: $yellow;
	  	font-size: rem(72px);
	  	text-align: center;
	  }

	  &__text_two{
	  	font-family: 'lifehackmedium';
	  	color: #fff;
	  	font-size: rem(72px);
	  }
}

.page-down{
	background: url(../icons/arrow-scroll.svg) center center no-repeat;
	width: rem(52px);
	height: rem(52px);
	position: absolute;
	bottom: rem(50px);
	border: none;
}