.section-burgers {
	background-image: linear-gradient(#f9b43b 0%, #eb8c38 50%, #f9b43b 100%);
}

.burgers__container{
	flex-direction: row;
	margin-top: rem(140px);
	max-width: initial;

	@include mobile{
		margin-top: rem(50px);
	}
}

.arrow-block{
	position: relative;
	width: 5%;

}

.arrow{
	@extend .page-down;
	position: absolute;

	 @include tablets{
	 	top: 50%;
	 }
	
	&-prev{
		transform: rotate(90deg);
	}

	&-next{
		transform: rotate(-90deg);
		margin-right: rem(-30px);

		@include mobile{
			right: rem(20px);
		}
	}
}

.btn__order-burgers{
	@include tablets{
		margin: 0;
	}
}

.burgers__list{
	width: 90%;
}

.burgers__content{
	display: flex;

	 @include tablets{
	 	flex-direction: column;
	 	margin-top: rem(80px);
	 }

	 @include mobile{
	 	margin-top: rem(20px);
	 }
}

.burgers__col{
	flex: 1;
	margin-right: rem(30px);
	position: relative;

	&:last-child{
		margin-right: 0;
	}

	@include tablets{
		width: 100%;
		margin:0;
	}
}

.burgers__img{
	width: 100%;

	@include tablets{
		padding: 0 rem(120px);
	}

	@include mobile{
		padding: 0 rem(30px);
	}
}

.burgers__title{
	@extend .main-content__text_one;
	color: #fff;
	width: 60%;
	text-align: left;
	line-height: rem(65px);

	@include tablets{
		width: 90%;
		text-align: center;
		padding-left: rem(100px);
	}

	@include mobile{
		padding-left: rem(50px);
	}
}

.burgers__descrip{
	color: #fff;
	line-height: rem(26px);
	width: 80%;
	margin-top: rem(50px);
	margin-bottom: rem(40px);

	@include tablets{
		width: 95%;
		text-align: center;
		justify-content: center;
		font-size: rem(20px);
		line-height: rem(32px);
	}

	@include mobile{
		margin-top: rem(10px);
		margin-bottom: rem(10px);
		width: 100%;
		font-size: rem(14px);
		line-height: rem(19px);
	}
}


.burgers__order{
	display: flex;
	align-items: flex-end;

	@include tablets{
		justify-content: center;
	}
}
.burgers__price{
	display: flex;
	align-items: baseline;
	@extend .main-content__text_one;
	color: $orange;
	margin-right: rem(30px);

	&-text{
		font-size: rem(24px);
	}
}

.burgers__compos{
	position: absolute;
	top: rem(-60px);
	background-color: $orange;
	border-radius: rem(5px);
	width: rem(90px);
	height: rem(93px);


	 @include tablets{
	 	top: rem(-90px);
	 	left: rem(160px);
	 }

	 @include mobile{
	 	top: rem(-80px);
	 	left: 0;
	 }
}
.burgers__compos{
	
	&-img{
		width: rem(60px);
	    height: rem(63px);
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    top: 5%;
	}

	&-text{
		text-align: center;
		color: #fff;
		font-family: 'gagalinregular';
		font-size: rem(14px);
		position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    top: 75%;
	}
}

.compos__list{
	display: flex;
	flex-direction: column;
	width: rem(270px);
	height: rem(335px);
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: rem(5px);
	position: absolute;
	left: rem(90px);
	padding-top: rem(10px);
	display: none;
}

.compos__item{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: rem(15px);

}
.compos-item-svg{
	width: rem(40px);
	height: rem(40px);
}
.burgers__energy{
	position: absolute;
	left: rem(45px);

	 @include tablets{
	 	top: rem(-90px);
	 	right: rem(-250px);
	 }

	 @include mobile{
	 	top: rem(-80px);
	 	right: rem(-300px);
	 }

	&-img{
		width: rem(60px);
	    height: rem(63px);
	    position: absolute;
	    left: 50%;
	    transform: translateX(-50%);
	    
	}

	&-number{
		text-align: center;
		color: #fff;
		font-family: 'gagalinregular';
		font-size: rem(20px);
		position: absolute;
		 left: 50%;
	    transform: translateX(-50%);
	    top: rem(30px);
	}

	&-text{
		text-align: center;
		color: #fff;
		font-family: 'gagalinregular';
		font-size: rem(20px);
		position: absolute;
		left: 50%;
	    transform: translateX(-50%);
	    top: rem(65px);
	}

}

