.section-map{
	background: url("../img/map.jpg") center center no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: rem(60px);
	background: url(../img/footer.jpg);

	   @include tablets{
	   	min-height: rem(80px);
	   }

	   @include mobile{
	   	min-height: rem(130px);
	   }

	   &__item{
	   	height: 100%;
	   	margin: 0 auto;
	   	display: flex;
	   	justify-content: space-around;
	   	align-items: center;

	   	  @include mobile{
	   	  	flex-direction: column;
	   	  }
	   }
}

.contact{
	width: 50%;
	padding-left: rem(30px);

	  @include tablets{
	  	font-size: rem(20px);
	  }

	  @include mobile{
	  	text-align: center;
	  	font-size: rem(18px);
	  	width: 95%;
	  	margin-top: rem(15px);
	  }
	

	  &__text{
           color: #fff;
           line-height: rem(24px);
           padding-top: rem(8px);
	  }

	  &__number{
         text-align: left;
         color: #e45028;
         font-weight: 700;

           @include tablets{
           	margin-top: rem(10px);
           }

           @include mobile{
           	margin-top: rem(10px);
           	text-align: center;
           }

          &-svg{
          	width: rem(14px);
          	height: rem(14px);
          }

         &-link{
         text-align: left;
         color: #e45028;
         font-weight: 700;
         text-decoration: none;
         }
	  	
	  }
	
}

.socials{
	height: 100%;

	&__list{
		display: flex;
		justify-content: center;
		margin-top: rem(20px);

	}

	&__item{
		margin-left: rem(40px);
	}

	&__link{
		display: inline-block;
		width: rem(20px);
		height: rem(20px);

		&:hover .socials__svg{
			fill: #fff
		}
	}

	&__svg{
		fill: rgba(255, 255, 255, 0.4);
        width: 1.25rem;
        height: 1.25rem;
        transition: 0.3s;
	}
}