.btn__order{
	
	  &-link{
	  	width: 98px;
	    height: 35px;
	    background-color: $orange;
	    border-radius: 5px;
	    text-align: center;
	    padding: 10px 18px;
	  	text-decoration: none;
	  	color: #fff;
	  	font-family: 'ubuntumedium';
	  	font-size: 13px;
	  	text-transform: uppercase;
	  	transition: 0.4s;
	  	    
	  	     &:hover{
	  	background-color: darken($orange,10%);
	  }
	}
}