.btn__order{
		width: rem(98px);
	    height: rem(35px);
	    background-color: $orange;
	    border-radius: rem(5px);
	    border: none;
	    text-align: center;
	    padding: rem(10px) rem(15px);
	  	text-decoration: none;
	  	color: #fff;
	  	font-family: 'ubuntumedium';
	  	font-size: rem(13px);
	  	text-transform: uppercase;
	  	transition: 0.4s;
	  	display: inline-block;
	
	  	    
	  	     &:hover{
	  	       background-color: darken($orange,10%);
	  	       cursor: pointer;
	  }

	  @include tablets{
	  	margin-left: auto;
	  }

	  @include mobile{
	  	margin-left: auto;
	  }


	&-burgers{
	@include tablets{
		margin: 0;
	}

	@include mobile{
		margin: 0;
	}
}

}

