.switcher{
	position: fixed;
	top: rem(95px);
	right: rem(55px);

	    &__list{
	    	list-style: none;
	    }

	    &__item{
	    	 width: rem(6px);
             height: rem(6px);
             background-color: #fff;
             border-radius: 50%;
             margin-bottom: rem(15px);
             position: relative;
	    }

}

.switcher__link_active{
	        width: rem(16px);
	        height: rem(16px);
            position: absolute;
            top: rem(-5px);
            left: rem(-5px);
            border: rem(1px) solid #fff;
            border-radius: 50%;
}