.switcher{
	position: fixed;
	top: rem(95px);
	right: rem(55px);

	    &__list{
	    	list-style: none;
	    }

      @include tablets{
        display: none;
      }

      @include mobile{
        display: none;
      }
}

	
.switcher__link div {
  margin-right: 0.3125rem;
  margin-bottom: 15px;
  border: 0.25rem solid #fff;
  content: "";
  border-radius: 50%;
  position: relative; 
}

.switcher__link div:before {
    position: absolute;
    content: "";
    border-radius: 50%;
    width: 1px;
    height: 1px;
    background: transparent;
    border: 1px solid #fff;
    left: -1px;
    top: -1px;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s; 
}

.switcher__link div:hover:before {
    width: 1rem;
    height: 1rem;
    border: 0.125rem solid #fff;
    left: -0.625rem;
    top: -0.625rem; 
}

.switcher__item.active div:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  background: transparent;
  border: 0.125rem solid #fff;
  left: -0.625rem;
  top: -0.625rem;
  cursor: pointer; 
}